# Problem #2: Pandas-P2

In [2]:
import pandas as pd

In [3]:
cars = pd.read_csv("cars.csv")

___

Display the first five rows with odd-numbered columns (columns 1, 3, 5, 7...) of cars.

In [71]:
cars.iloc[:5,1::2]

    mpg   disp  drat   qsec  am  carb
0  21.0  160.0  3.90  16.46   1     4
1  21.0  160.0  3.90  17.02   1     4
2  22.8  108.0  3.85  18.61   1     1
3  21.4  258.0  3.08  19.44   0     1
4  18.7  360.0  3.15  17.02   0     2

___

Display the row that contains the ‘Model’ of ‘Mazda RX4’.

In [5]:
cars.loc[cars['Model']=='Mazda RX4']

       Model   mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  carb
0  Mazda RX4  21.0    6  160.0  110   3.9  2.62  16.46   0   1     4     4

___

How many cylinders (‘cyl’) does the car model ‘Camaro Z28’ have?

In [37]:
cars.loc[cars['Model']=='Camaro Z28',['Model','cyl']]

         Model  cyl
23  Camaro Z28    8

___

Determine how many cylinders (‘cyl’) and what gear type (‘gear’) do the car models ‘Mazda RX4 Wag’, ‘Ford Pantera L’ and ‘Honda Civic’ have.

In [33]:
cars.loc[cars['Model'].isin(['Mazda RX4 Wag','Ford Pantera L','Honda Civic']), ['Model','cyl','gear']]

             Model  cyl  gear
1    Mazda RX4 Wag    6     4
18     Honda Civic    4     4
28  Ford Pantera L    8     5